
header {
    background-color: #d5b9b2;
    padding: 1em 13em;
}



.secondary,
a:link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.first-box {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.first-box .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-box .right {
    flex-shrink: 0;
    width: 50%;
}
.gbox {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}




/* FOOTER */
footer{
    background-color:  #f2e9e4;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}

